*{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

body{
    background-color: #BFD7ED;
}

main{
    display: flex;
    flex-direction: column;
}
header{
    background-color: #0074B7; 
    height: 15vh; 
    display: flex; 
    justify-content: end; 
    align-items: center; 
    box-shadow: 0px 2px 3px;
}

.container{
    display: flex; 
    flex-direction: column; 
    gap: 15px; 
    align-items: center;
}

.col{
    background-color: #60A3D9;
    height: 10vh; 
    width: 20vw; 
    border-radius: 10px; 
    box-shadow: 2px 2px 3px;
}

.col:hover{
    transition: 0.25s;
    background-color: #BFD7ED;
}

.divisao{
    display: flex; 
    justify-content: center;
}

hr{
    width: 95vw;
    color: #003B73;
    margin-top: 50px;
}

.chat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    align-self: center;
    
}

.texto{
    background-color: #60A3D9;
    border-radius: 15px;
}